<div class="study-component">
    <h4 class="study-component_h4">{{title}}</h4>
    <div class="study-component__list">
        {{#each studyItems}}
            {{{this}}}
        {{/each}}
    </div>
</div>
