<div class="contacts-component__contacts__contact" onclick="window.open('{{link}}', '_blank')">
    <img class="contacts-component__contacts__contact_img" src="{{imageSrc}}">
    <span class="contacts-component__contacts__contact_span">{{type}}</span>
</div>
