<div class="contacts-component__contacts__contact">
    <img class="contacts-component__contacts__contact_img" src="{{imageSrc}}">
    <span class="contacts-component__contacts__contact_span">{{type}}</span>
</div>
