<div class="skills-component">
    <h4 class="skills-component_h4">Навыки</h4>
    <div class="skills-component__list">
        {{#each skillItems}}
            {{{this}}}
        {{/each}}
    </div>
</div>
