
.skills-component{
  display: flex;
  flex-direction: column;

  &_h4{
    font-size: 2rem;
    margin: 0 auto;
    cursor: default;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &__item{
      display: flex;
      width: 80%;
      margin: 25px auto;

      &__image-container{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_img{
          object-fit: cover;
          width:100px;
          height: 100px;
          margin: 0 auto;
        }
      }
      &__about-container{
        width: 75%;
        display: flex;
        justify-content: flex-start;
        margin: auto;

        &_span{
          margin: 0 20px;
          cursor: default;
        }
      }
    }
  }

}


@media (max-width: 600px) {
  .skills-component__list__item{
    flex-direction: column;
    align-items: center;
    &__image-container{
      width: 100%;
    }
    &__about-container{
      text-align: center;
      width: 100%;
    }
  }
}
