<div class="about-component">
    <div class="about-component__image-container">
        <img class="about-component__image-container_img" src="{{imageSrc}}">
    </div>
    <div class="about-component__text-container">
        <span class="about-component__text-container_span">{{text}}</span>
    </div>
</div>
</div>
