
<div class="resume-page">

    <div class="resume-page__header">
        <h4 class="resume-page__header_h4">Резюме</h4>
    </div>


    <div class="resume-page__container">
        <div class="resume-page__container__block">

        </div>

        <div class="resume-page__container__block">

        </div>
        <div class="resume-page__container__block">

        </div>
        <div class="resume-page__container__block">
        </div>
    </div>

</div>

