<div class="navbar-container">
    <div class="navbar-container__strip">
    </div>
    <div  class="navbar-container__circles" >

        <div class="navbar-container__circles__circle">

        </div>

        <div class="navbar-container__circles__circle">

        </div>

        <div class="navbar-container__circles__circle">

        </div>

        <div class="navbar-container__circles__circle">

        </div>

    </div>
</div>
