<div class="navbar-container">
    <div class="navbar-container__strip">
    </div>
    <div  class="navbar-container__circles" >

        <div class="navbar-container__circles__circle">
            <img class="navbar-container__circles__circle_img" src="/Images/user.svg">
        </div>

        <div class="navbar-container__circles__circle">
            <img class="navbar-container__circles__circle_img" src="/Images/skill.svg">
        </div>

        <div class="navbar-container__circles__circle">
            <img class="navbar-container__circles__circle_img" src="/Images/education.svg">
        </div>

        <div class="navbar-container__circles__circle">
            <img class="navbar-container__circles__circle_img" src="/Images/contact.svg">
        </div>

    </div>
</div>
