<div class="study-component__list__item">
    <div class="study-component__list__item__date">
        <span class="study-component__list__item__date_span">{{date}}</span>
    </div>
    <div class="study-component__list__item__strip">
    </div>
    <div class="study-component__list__item__event">
        <span class="study-component__list__item__event_span">{{event}}</span>
    </div>
</div>
