<div class="skills-component__list__item">
    <div class="skills-component__list__item__image-container">
        <img class="skills-component__list__item__image-container_img" src="{{imageSrc}}">
    </div>
    <div class="skills-component__list__item__about-container">
        <span class="skills-component__list__item__about-container_span">{{skill}}</span>
    </div>
</div>
