<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="NavBar.css">
    <title>Title</title>
</head>
<body>

<div class="resume-page">


    <div class="navbar-container">
        <div class="navbar-container__strip">
        </div>
        <div  class="navbar-container__circles" >

            <div class="navbar-container__circles__circle">

            </div>

            <div class="navbar-container__circles__circle">

            </div>

            <div class="navbar-container__circles__circle">

            </div>

            <div class="navbar-container__circles__circle">

            </div>

        </div>
    </div>

    <div class="resume-page__header">
        <h4 class="resume-page__header_h4">Резюме</h4>
    </div>


    <div class="resume-page__container">
        <div class="resume-page__container__block">
            <div class="about-component">
                <div class="about-component__image-container">
                    <img class="about-component__image-container_img" src="tech.jpg">
                </div>
                    <div class="about-component__text-container">
                        <span class="about-component__text-container_span">
                            Привет, я фронтенд разработчик из Москвы. Интересуюсь современными технологиями
                            и хочу сделать веб быстрее, выше, и сильнее! Разрабатывать приложения начал на 1 курсе
                            университета. Стартовал с мобильной разработки под Android и IOS. На втором курсе зачислен
                            в Технопарк Mail.ru. Изучал алгоритмы и структуры данных, углубленный курс C++ и основы веба.
                            С некоторых времен нашел себя в фронтенде. С интересом изучаю новые технологии в мире веб-разработки
                            и UI/UX.
                        </span>
                    </div>
                </div>
            </div>

        <div class="resume-page__container__block">
            <div class="skills-component">
                <h4 class="skills-component_h4">Навыки</h4>
                <div class="skills-component__list">
                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img"  src="logo/html-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                             HTML5 Верстаю днем и ночью. Использую методолгию БЭМ.
                            </span>
                        </div>
                    </div>

                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/css-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                            CSS - хорошо, а с пост/пре-процессорами еще лучше. Предпочитаю писать стили
                                на SCSS, используя все его возможности.
                            </span>
                        </div>
                    </div>

                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/adaptive-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                              Адаптивная верстка. Верстаю на grid и flex. Разработанный продукт
                                выглядит отлично на всех устройствах.
                            </span>
                        </div>
                    </div>
                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/webpack-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                              Бандлеры. Для разработки веб-приложений использую Webpack
                                для оптимальной работы и корректной сборки проекта
                            </span>
                        </div>
                    </div>
                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/handlebars-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                            Шаблонизация. Предпочитаю Handlebars в своих проектах, но
                                люблю изучать новые.
                            </span>
                        </div>
                    </div>

                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/git-logo.svg">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                            Контроль версий. Прекрасно работаю в команде и умею пользоваться системой
                                контроля версий.
                            </span>
                        </div>
                    </div>

                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/postgres-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                            Базы данных - люблю и плачу. Дима помоги что-нибудь сюда написать ;(
                                Что-то про пострю
                            </span>
                        </div>
                    </div>

                    <div class="skills-component__list__item">
                        <div class="skills-component__list__item__image-container">
                            <img class="skills-component__list__item__image-container_img" src="logo/docker-logo.png">
                        </div>
                        <div class="skills-component__list__item__about-container">
                            <span class="skills-component__list__item__about-container_span">
                            Контейнеризация - люблю и плачу. Дима помоги что-нибудь сюда написать ;(
                                Что-то про докер
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="resume-page__container__block">
            <div class="study-component">
                <h4 class="study-component_h4">Образование</h4>
                <div class="study-component__list">

                    <div class="study-component__list__item">
                        <div class="study-component__list__item__date">
                            <span class="study-component__list__item__date_span">Сентябрь 2018</span>
                        </div>
                        <div class="study-component__list__item__strip">
                        </div>
                        <div class="study-component__list__item__event">
                            <span class="study-component__list__item__event_span">Официально студент МГТУ</span>
                        </div>
                    </div>

                    <div class="study-component__list__item">
                        <div class="study-component__list__item__date">
                            <span class="study-component__list__item__date_span">Сентябрь 2018</span>
                        </div>
                        <div class="study-component__list__item__strip">
                        </div>
                        <div class="study-component__list__item__event">
                            <span class="study-component__list__item__event_span">Зачислен на курс по разработке на Android</span>
                        </div>
                    </div>

                    <div class="study-component__list__item">
                        <div class="study-component__list__item__date">
                            <span class="study-component__list__item__date_span">Январь 2019</span>
                        </div>
                        <div class="study-component__list__item__strip">
                        </div>
                        <div class="study-component__list__item__event">
                            <span class="study-component__list__item__event_span">Зачислен на курс по разработке на IOS</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="resume-page__container__block">
            <div class="contacts-component">
                <h4 class="contacts-component_h4">Контакты</h4>
                <div class="contacts-component__contacts">
                <div class="contacts-component__contacts__contact">
                    <img class="contacts-component__contacts__contact_img" src="logo/telegram-logo.svg">
                    <span class="contacts-component__contacts__contact_span">Телеграм</span>
                </div>
                <div class="contacts-component__contacts__contact">
                    <img class="contacts-component__contacts__contact_img" src="logo/vk-logo.svg">
                    <span class="contacts-component__contacts__contact_span">ВКонтакте</span>
                </div>
                    <div class="contacts-component__contacts__contact">
                        <img class="contacts-component__contacts__contact_img" src="logo/mail-logo.svg">
                        <span class="contacts-component__contacts__contact_span">Почта</span>
                    </div>
                <div class="contacts-component__contacts__contact">
                    <img class="contacts-component__contacts__contact_img" src="logo/github-logo.svg">
                    <span class="contacts-component__contacts__contact_span">Гитхаб</span>
                </div>

                </div>
            </div>
        </div>
    </div>

    </div>

</div>

</body>
</html>
