<div class="contacts-component">
    <h4 class="contacts-component_h4">{{title}}</h4>
    <div class="contacts-component__contacts">
        {{#each contactItems}}
            {{{this}}}
        {{/each}}
    </div>
</div>
